@import 'assets/styles/colors';

.modalOverlay {
  z-index: 3;

  > div {
    display: flex;
    justify-content: center;
    background: transparent !important;
    max-width: 100% !important;
    box-shadow: none !important;

    > div {
      max-width: 650px;
      background: $richPurple;
      height: 100%;
      box-shadow: rgba(27, 27, 37, 0.2) 0px 30px 40px,
        rgba(27, 27, 37, 0.05) 0px 2px 4px;
      border-radius: 4px;

      > div {
        > div:first-child {
          align-items: center;
          padding-top: 15px;
          background: $richPurple;
          color: $white;
          font-weight: 900;
          font-size: 22px;

          svg {
            fill: $vibrantCyan;
          }
        }

        > div:last-child {
          padding: 15px;
          .card {
            display: flex;
            flex-direction: column;
            border-radius: 6px;
            background: $sensitiveGray;

            .header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              background: $darkGrey;
              padding: 7px 20px;
              border-radius: 6px 6px 0 0;

              > :first-child {
                display: flex;
                color: $richPurple;
                align-items: center;
                h2 {
                  margin-right: 30px;
                }
              }
              > :last-child {
                > span {
                  color: $richBlackLight;
                }
                > :last-child {
                  font-size: 18px;
                  font-weight: 900;
                  margin-left: 5px;
                }
              }
            }

            .info {
              display: flex;
              align-items: center;
              padding: 10px;
              background-color: #ffffff;
              svg {
                fill: $richGreenDark;
              }
              > span {
                margin-left: 7px;
                font-size: 12px;
                font-weight: 400;
                color: $richGreenDark;
              }
            }

            .inputs {
              display: flex;
              flex-direction: column;
              padding: 20px;
              padding-top: 10px;

              .row {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;

                .duration {
                  max-width: 120px;
                }

                .datepicker {
                  display: flex;

                  input {
                    background: $white;
                  }

                  svg {
                    fill: $vibrantCyan;
                  }
                }
              }

              .uploadDescription {
                display: flex;
                > :first-child {
                  svg {
                    fill: #ffc832;
                  }
                }
                > :last-child {
                  display: flex;
                  flex-direction: column;
                  margin-left: 8px;
                  > span {
                    font-size: 12px;
                    color: $richBlackLightest;
                  }
                  > :last-child {
                    margin-top: 5px;
                  }
                }
              }

              .progressBars {
                margin-top: 10px;

                > :not(:first-child) {
                  margin-top: 6px;
                }
              }
            }

            .footer {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 20px;

              > *:first-child {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }

  table {
    th:last-child {
      width: 80px;
      pointer-events: none;

      div {
        display: none;
      }
    }

    tr td:last-child {
      div {
        min-width: 80px;
      }
    }
  }
}
