@import 'assets/styles/colors';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    border: none;
    background: transparent;
    padding: 3px 8px;
    border-radius: 6px;
    transition: all 100ms;
    cursor: pointer;

    &.nav {
      fill: $richPurple;
      padding: 3px 5px;

      &:hover {
        fill: #fff;
      }

      &.disable {
        fill: $darkGrey;
        pointer-events: none;
      }
    }

    &.active {
      background: $richPurple;
      color: #fff;
      font-weight: bold;
    }

    &:hover {
      background: darken($vibrantCyan, 5%);
      color: #fff;
      font-weight: bold;
    }
  }

  .page {
    font-size: 14px;
    margin: 0 5px;
  }
}
