@import 'assets/styles/colors';

.requests {
  > *:not(:first-child) {
    margin-top: 20px;
  }

  .infos {
    display: flex;

    > * {
      flex: 1 0 21%;
      margin: 0 20px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .cardBoardRowInfo {
    display: flex;
    flex-direction: column;
    width: 100%;

    div {
      display: flex;
      justify-content: space-between !important;
      margin: 3px 0;
      max-width: 350px;
      font-size: 15px;

      span:first-child {
        font-weight: 700;
      }
    }
  }
}
