.companySettings {
  section {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      margin-top: 40px;
    }

    .inputs {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      > * {
        flex: 1 0 21%;
        max-width: 270px;

        &:not(:last-child) {
          margin-right: 35px;
        }
      }
    }
  }
}
