$richPurple: #503291;
$richPurpleDarkest: #281949;
$vibrantMagenta: #eb3c96;
$richBlue: #0f69af;
$richBlueDark: #0e5f9e;
$richBlueLightest: #9fc3df;
$vibrantCyan: #2dbecd;
$vibrantCyanDarker: #208590;
$vibrantGreen: #a5cd50;
$vibrantGreenDarker: #749038;
$vibrantGreenLightest: #c9e196;
$richRed: #e61e50;
$richRedDark: #cf1b48;
$richRedLightest: #f5a5b9;
$vibrantYellow: #ffc832;
$vibrantYellowDark: #f3be2f;
$vibrantYellowDarker: #ddac28;
$vibrantYellowLightest: #ffe9ad;
$sensitiveYellow: #ffdcb9;
$richGreen: #149b5f;
$richGreenDark: #0d6c42;
$richGreenLightest: #89cdaf;
$black: #1b1b25;
$richBlack: #93939d;
$richBlackLightest: #7d7d89;
$richBlackLighter: #6a6a73;
$richBlackLight: #494953;
$grey: #f8f8fc;
$darkGrey: #e9e9ed;
$white: #ffffff;
$sensitiveGray: #f9f9fd;
$sensitiveGreyLighter: #fbfbfd;
$sensitiveGrayDark: #e9e9ed;
