@import 'assets/styles/colors';

.header {
  form {
    display: none;
  }

  div:nth-child(4) {
    display: none;
  }
}

.logo {
  color: $vibrantCyan;
  padding: 0px 15px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  img {
    border: 2px solid $vibrantCyan;
    border-radius: 100%;
  }

  span {
    margin-right: 10px;
    font-size: 18px;
    color: $vibrantCyan;
  }
}
